<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="SCB">

<classes>
    <class name="TestCases.RegisterTC"></class>
    <class name="TestCases.LoginTC"></class>
    <class name="TestCases.UpdateInfoTC"></class>
    <class name="TestCases.LogoutTC"></class>
    <class name="TestCases.OpenNewAccountTC"></class>
    <class name="TestCases.TransfereFundTC"></class>
    <class name="TestCases.RequestLoanTC"></class>

</classes>
    </test>
</suite>